if [ -f .python-version ]; then
  PY_VER="$(cat .python-version)"
else
  PY_VER="3.11"
fi
if ! command -v uv >/dev/null 2>&1; then
  echo "ERROR: uv not found. Install uv first." >&2
  exit 1
fi
if [ ! -d .venv ]; then
  uv venv --python "$PY_VER"
fi
PATH_add ".venv/bin"
export VIRTUAL_ENV="$PWD/.venv"
watch_file pyproject.toml

# watch_file uv.lock
# if [ -f uv.lock ]; then
#   uv sync --frozen || uv sync
# 
# else
#   uv sync
# fi


uv pip install -r pyproject.toml

dotenv_if_exists
