*~
devtools.py
*.pyc
*.log
@eaDir
.DS_Store
/defaultDB/
/ferendaDB/
/lagenDB/
.ropeproject
/.coverage
/.tox
/dist/
/ferenda.egg-info/
/htmlcov/
/netstandards
/lagen.nu
/test/files/repo/sfs/intermediate
/tng.lagen.nu
/wip
__pycache__/
/doc/_build/
