*~
metrics.json
*.pyc
*.log
.DS_Store
/defaultDB/
/ferendaDB/
/lagenDB/
.ropeproject
/.coverage
/.tox
/dist/
/ferenda.egg-info/
/htmlcov/
/netstandards
/lagen.nu
/tng.lagen.nu
/wip
__pycache__/
/doc/_build/
