# Curated named-resource datasets shipped with Ferenda.
recursive-include ferenda/lib/assets *.css *.js *.txt
recursive-include ferenda/sfs/data *.json
recursive-include ferenda/dv/data *.json
recursive-include ferenda/eurlex/data *.json
