beautifulsoup4
lxml
rdflib
rdfextras
rdflib-jsonld
html5lib
requests
six
jsmin
cssmin
whoosh
pyparsing
# sphinx
mock # not needed for py3.3 +
coverage
# bsddb3 
# pyScss -- doesn't install on py3 until https://github.com/Kronuz/pyScss/issues/67 is released
docutils
wheel

