beautifulsoup4
cached_property
lxml
rdflib
rdfextras
rdflib-jsonld
html5lib
requests
future
jsmin
cssmin
whoosh
pyparsing # 2.0.1 is py26+ compatible
SimpleParse
unittest2 # not needed for py2.7 +
ordereddict # not needed for py2.7 +
scandir
patchit
# sphinx
mock
coverage
# bsddb3
# pyScss -- doesn't install on py3 until https://github.com/Kronuz/pyScss/issues/67 is released
docutils
wheel
twine
psutil
layeredconfig
# grako -- doesn't support 2.6 at all
responses
importlib
