beautifulsoup4
cached_property
lxml
rdflib
rdfextras
rdflib-jsonld
html5lib<=0.9999999   # later versions incompatible with current beautifulsoup
requests
future
jsmin
cssmin
whoosh
pyparsing
SimpleParse  # 2.2 is now py3 compatible
scandir # not needed for py3.5 +
# patchit -- waiting for 1.2 so that we can drop our vendorized version
# sphinx
mock # not needed for py3.3 +
coverage
# bsddb3 
pyScss
docutils
wheel
twine
psutil
layeredconfig
grako
responses
langdetect
