beautifulsoup4
lxml
rdflib
rdfextras
rdflib-jsonld
html5lib
requests
six
jsmin
cssmin
whoosh
pyparsing
# sphinx
mock # not needed for py3.3 +
coverage
# bsddb3 
pyScss
docutils
wheel
twine
psutil
layeredconfig
grako
responses
