
.page {
    position: relative; /* needed for contained div.annotations to be absolutely positioned relative to this container */
}

.page .nav-tabs {
    border-bottom: none /* override bootstrap defaults because top of pdfpage acts as bottom
   of nav tabs instead */
}

.pdfpage {
    background: #fff;
    border: solid 1px #ddd;
    position:relative;
    margin-bottom: 1em;
}

.textbox {position:absolute;margin:0;padding:0;}

.annotations {
    position: absolute;
    top: 0;
    right: 0;
    width: 30%;
    border: solid 1px black;
    background:#c9de96;
}

ul.viewcontrol {display:none;}
/* lets just hide this crap for now
ul.viewcontrol {
    list-style-type: none;
    margin-left:200pt;
    margin-bottom: 0;
    margin-top: 0;
    padding: 0;
    display: block;
    z-index: 1;
}

ul.viewcontrol li {
    display: inline;
    margin: 0;
    padding:0;
}

ul.viewcontrol li a {
    border: 1px solid black;
    border-bottom: none;
    color: black;
    background: white;
    text-decoration: none;
    padding-bottom: 1px;
    padding-left: 10pt;
    padding-right: 10pt;
}    
*/
