.kapitelrubrik, .paragraf, .stycke {
  position: relative;
  padding-right: 40px;
}

.aside-attribution {
  background: red;
  width: 19px;
  height: 100%;
  right: 0;
  position: absolute;
  right: 0;
}

.paragrafbeteckning {
    font-weight: bold;
    text-decoration: none;
    color: #000;
}

.platsmarkor {
    position: absolute;
    left: -35px;
    font-size: 0.6em;
    margin-top: 5px;
    color: #999;
    font-family: Arial;
}

.andring {
    margin-bottom: 6pt;
}


.upphavdparagraf, .upphavtkapitel, .andringsdatum, .ej-ikraft {
    font-size: small;
    font-style: italic;
    color: #999;
}
.andringsdatum + h2, .andringsdatum + h3 {
    margin-top: 0;
}

.andringsdatum {
    margin-bottom: 0;
}

.ej-ikraft table {
    font-size: small; /* otherwise the specific "font-size: 14px" styling for table in
                         ferenda.css overrides */
}

.bilaga {
    /* border: solid 1px #ddd;*/
    margin-bottom: 6pt;
}

ol.numreradlista, ol.bokstavslista, ul.strecksatslista { list-style: none; }

ol.numreradlista > li:before, ol.bokstavslista > li:before, ul.strecksatslista > li:before {
    display: inline-block;
    width: 2em;
    margin-left: -2em;
    text-align: right;
    white-space: pre;
}
ol.numreradlista > li:before {
    content: attr(data-ordinal) ". ";
}
ol.bokstavslista > li:before {
    content: attr(data-ordinal) ") ";
}
ul.strecksatslista > li:before {
    content: "- ";
p}

td {
    vertical-align: top;
}
body.sfs article {
    padding-left: 30px;
}
select#from {
    width: 98%;
}


/* Optional dark mode */

@media (prefers-color-scheme: dark) {
    .paragrafbeteckning {
	color: #fff;
    }
}
