.paragrafbeteckning {
    font-weight: bold;
    text-decoration: none;
    color: #000;
}

.platsmarkor {
    position: absolute;
    left: -45px;
    font-size: 0.6em;
    margin-top: 2px;
    color: #999;
    font-family: Arial;
}

.andring {
    margin-bottom: 6pt;
}

.upphavdparagraf, .upphavtkapitel {
    font-size: smaller;
    font-style: italic;
}

ol.numreradlista, ol.bokstavslista, ul.strecksatslista { list-style: none; }

ol.numreradlista > li:before, ol.bokstavslista > li:before, ul.strecksatslista > li:before {
    display: inline-block;
    width: 2em;
    margin-left: -2em;
    text-align: right;
    white-space: pre;
}
ol.numreradlista > li:before {
    content: attr(data-ordinal) ". ";
}
ol.bokstavslista > li:before {
    content: attr(data-ordinal) ") ";
}
ul.strecksatslista > li:before {
    content: "- ";
}

