/* FIXME: This should go into
   ferenda/sources/legal/se/res/offtryck.css (or possibly
   pdf.css?) */
body.forarbete section {
	border-left: solid 1px #ddd;
	border-right: solid 1px #ddd;
}
body.forarbete div.sida {
	margin-left: -16px;
	margin-right: -16px;
	border-top: solid 1px #ddd;
	border-left: none;
	border-right: none;
	background-color: white;
}
body.forarbete div.sida ul {
	padding-top: 12pt;
	font-size: smaller;
}
body.forarbete div.sida ul li a {
    padding: 5px 15px;
}
div.forfattningskommentar {
	border: 1px solid black;
	padding: 2px;
	background-color: #d9edf7; // corresponding to the "info" bootstrap color
}

body.frontpage td {
    display: block;
}

@media only screen and (min-width: 480px) {
    body.frontpage td {
        display:table-cell;
    }

    /* since a div.sida might appear inside of a top-level div.row,
       we'll have to resort to positioning trickery to get the aside to
       line up to the right. This sort-of works on my machine. */
    aside.sidannotering {
	position: absolute;
	right: -41%;
	width: 40%;
		   
    }
}
