/* FIXME: This should go into
   ferenda/sources/legal/se/res/offtryck.css (or possibly
   pdf.css?) */
body.forarbete section {
	border-left: solid 1px #ddd;
	border-right: solid 1px #ddd;
}
body.forarbete div.sida {
	margin-left: -16px;
	margin-right: -16px;
	border-top: solid 1px #ddd;
	border-left: none;
	border-right: none;
	background-color: white;
}

body.forarbete div.forfattningskommentar div.sida {
    /* when pagebreaks occur inside of a div.forfattningkommentar, we need extra work to "break out" of the surrounding section border */
    margin-left: -19px;
    margin-right: -19px;
    margin-bottom: -1px; /* handles the case when the pagebreak occurs last in, but still
   inside of, a div.forfattningskommentar */
}

body.forarbete div.sida ul {
	padding-top: 12pt;
	font-size: smaller;
}
body.forarbete div.sida ul li a {
    padding: 5px 15px;
}
div.forfattningskommentar {
	border: 1px solid black;
	padding: 2px;
	background-color: #d9edf7; /* corresponding to the "info" bootstrap color */
}

body.frontpage td {
    display: block;
    font-size: 14px;  /* default UA stylesheet for tables use medium font size in tables */
}
body.frontpage td ul {
    padding-left: 20px;
}
body.frontpage td li {
    list-style: none;
}

body.toc dl.dl-horizontal dt {
    width: 150px;
}
body.toc dl.dl-horizontal dd {
    margin-left: 160px;
}


@media only screen and (min-width: 480px) {
    body.frontpage td {
	vertical-align: top;
    }
}
/* force horizontal DLs, even for small screens */
dl.dl-horizontal dt { 
    float: left;
    width: 110px;
    overflow: hidden;
    clear: left;
    text-align: right;
    text-overflow: ellipsis;
    white-space: nowrap;
}
dl.dl-horizontal dd {
    margin-left: 120px;
}
dl.dl-horizontal {
    margin-bottom: 0;
}

/* in general, legal sources should use more subdued headings. These
   look good with SFS, other doc types might override this using eg
   the body.forarbete selector */
h1 {
    font-size: 1.5em;
    margin-top: 10px
}

section#top h1 {
    /* main document header should not have any margin, as the navbar
       provides ample space, and this causes the header to line up
       with the document TOC */ 
    margin-top: 0;
}

h2 {
    font-size: 1.2em;
    margin-top: 10px;
}

h3 {
    font-size: 1.1em;
    margin-top: 10px;
}

h4 {
    font-size: 1em;
    font-weight: normal;
    font-style: italic;
    margin-top: 10px;
}

h4.panel-title {
    font-size: 10pt;
    font-style: normal;
    font-weight: 500;
}

.invalid-link:hover:after {
    content: "Dokumentet finns inte i databasen";
}

div.orderedparagraph div.ordinal {
    float: left;
    width: 5%;
}

div.orderedparagraph p {
    float: right;
    width: 95%;
}

div.orderedparagraph {
    clear: both;
}

div.betankande, div.skiljaktig, div.tillagg {
  font-size: smaller;
  font-color: #333;
  margin-left: 10pt;
}

@media only screen and (min-width: 768px) {
    body.frontpage td {
        display:table-cell;
    }
}
@media only screen and (min-width: 480px) {
    /* since a div.sida might appear inside of a top-level div.row,
       we'll have to resort to positioning trickery to get the aside to
       line up to the right. This sort-of works on my machine. */
    aside.sidannotering {
	position: absolute;
	right: -41%;
	width: 40%;
		   
    }
}

/* Optional dark mode */

@media (prefers-color-scheme: dark) {
    body.forarbete div.sida {
	background-color: #000;
    }
}
